
body, html {
margin:0px; /*Это хорошая практика обнулять поля и отсупы, т.к. различные браузеры их по разному воспринимают. */
padding:0px;
text-align:center; /*Выравниваем макет по центру в старых версиях браузеров */
}
#container{
width:800px; /*задаем ширину макета*/
margin:0 auto;  /*выравниваем макет по центру в современных браузерах */
text-align:left;  /*Отменяем tex-align:center заданное в Body. Делаем чтобы весь текст в макете выравнивался по левому краю */
}
/*Здесь пишем стили для шапки сайта */
#header{
background-color:#63b9da;
	text-align: center;
}


/*Здесь пишем стили для левой колонки сайта */
#left{
	border: 1px solid#000000;
background-color:#a9d28c;
width:400px;  /*ширина колонки */
float:left;  /*обязательное выравнивание по левому краю,с включением обтекания*/
}

/*Здесь пишем стили для блока контента */
#content{
	border: 1px solid#000000;
	width: 400px;;
background-color:#d5d7b5;
margin-left:400px; /*обязательный отступ слева, должен быть немного больше ширины левой колонки */
}

#clear{
height:0;
font-size:1px;
line-height:0px;
clear:both;
}
/*Здесь пишем стили для подвала сайта */
#footer{
background-color:#d292bc;
}
#footer p{
margin:0px;  /* обнуляем отступы*/
padding: 10px 0; /*  задаем поля */
}
